In [2]:
from bs4 import BeautifulSoup
import requests
import lxml.html as lh
import pandas as pd

In [3]:
website_url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
#Create a handle, page, to handle the contents of the website
page = requests.get(website_url)
#Store the contents of the website under doc
doc = lh.fromstring(page.content)
#Parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [4]:
[len(T) for T in tr_elements[:12]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [5]:
tr_elements = doc.xpath('//tr')
#Create empty list
col=[]
i=0

In [6]:
#For each row, store each first element (header) and an empty list
for t in tr_elements[0]:
    i+=1
    name=t.text_content()
    print('%d:"%s"'%(i,name))
    col.append((name,[]))

1:"Postcode"
2:"Borough"
3:"Neighbourhood
"

In [7]:
#Since out first row is the header, data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 10, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content() 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [8]:
[len(C) for (title,C) in col]

[288, 288, 288]

In [9]:
Dict={title:column for (title,column) in col}
df= pd.DataFrame(Dict)
df.head()

  Postcode           Borough     Neighbourhood\n
0      M1A      Not assigned      Not assigned\n
1      M2A      Not assigned      Not assigned\n
2      M3A        North York         Parkwoods\n
3      M4A        North York  Victoria Village\n
4      M5A  Downtown Toronto      Harbourfront\n

In [10]:
new_order = [-1,0,1]
df = df[df.columns[new_order]]
df.head()

      Neighbourhood\n Postcode           Borough
0      Not assigned\n      M1A      Not assigned
1      Not assigned\n      M2A      Not assigned
2         Parkwoods\n      M3A        North York
3  Victoria Village\n      M4A        North York
4      Harbourfront\n      M5A  Downtown Toronto

In [11]:
df = df[df.Borough != 'Not assigned']
df.shape

(211, 3)

In [12]:
df = df.reset_index(drop=True)
df.head()

      Neighbourhood\n Postcode           Borough
0         Parkwoods\n      M3A        North York
1  Victoria Village\n      M4A        North York
2      Harbourfront\n      M5A  Downtown Toronto
3       Regent Park\n      M5A  Downtown Toronto
4  Lawrence Heights\n      M6A        North York

In [13]:
df.columns.values

array(['Neighbourhood\n', 'Postcode', 'Borough'], dtype=object)

In [14]:
df.rename(columns={'Neighbourhood\n': 'Neighbourhood'}, inplace=True)
df['Neighbourhood'] = df['Neighbourhood'].map(lambda x: x.rstrip('\n'))
df.head()

      Neighbourhood Postcode           Borough
0         Parkwoods      M3A        North York
1  Victoria Village      M4A        North York
2      Harbourfront      M5A  Downtown Toronto
3       Regent Park      M5A  Downtown Toronto
4  Lawrence Heights      M6A        North York

In [15]:
for index, row in df.iterrows():
     if row['Neighbourhood'] == "Not assigned":
        row['Neighbourhood'] = row['Borough']
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(', '.join).reset_index()
df.shape

(103, 3)